Repository hkamran80/homebrew-things, pull requests merged in 2023-02, with the labels that each got.

#4 [squirrel] Update SHA-256 checksum
  Casks/squirrel.rb
Labels: update cask

#5 Add Multiliner
  Casks/multiliner.rb
  README.md
Labels: new cask

#6 [squirrel] Switch to GitHub release artifact
  Casks/squirrel.rb
Labels: update cask

#7 [squirrel] Rename cask
  Casks/squirrel-for-simulator.rb
Labels: update cask

#8 update cask in readme: squirrel-for-simulator
  README.md
Labels: documentation
